*{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  :root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}
  
#root{
    width: 100%;
}

body{
    background-image: url("../assets/img/fondo_pantalla.jpg_large");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    padding: 15px;
    text-align: center;
}

ul{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
}

#pikachu-charging{
    text-align: center;
    padding: 150px;
    height: 80vh;
}

.pokeball{
    width: 30px;
    height: 30px;
}

#pikachu-charging p {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px;
    color: white;
    -webkit-text-stroke: 2px black;
  }

#pikachu-charging img{
    width: 120px;
    height: 120px;
    animation: charging 2s infinite;
}

@keyframes charging {
    25%{transform: translateX(60px);}
    75%{transform: translateX(-60px);}
}

  /* Types of Pokemon */
  .water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}