#tw-follow{
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  border-radius: 20px;
  padding:20px 30px;
  width: 600px;
}

#tw-follow h2{
  padding: 0px 0px 15px 0px;
}

.tw-follow-card{
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 5px;
}

.tw-follow-card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tw-follow-card div{
  align-self: center;
}

.tw-followCard-button{
  width: 150px;
  text-align: center;
  font-size: 0.8rem;
}

.tw-followCard-button button{
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
  border: 0px;
  transition: all 0.3s;
}

.tw-followCard-button button:hover{
  background-color: rgba(255, 255, 255, 0.9);
}

.tw-followCard-button.is-following button{
  background-color: black;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
  transition: all 0.3s;
}

.tw-followCard-button.is-following button:hover{
  background-color: black;
  padding: 10px 20px;
  color: red;
  border: 2px solid red;
}
